@tailwind base;
@tailwind components;
@tailwind utilities;


.primary-color {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-[#3F2B96] to-[#FFFFFF] inline-block;
}

body {
  background-color: black
}

.bg-primary-color {
  @apply bg-gradient-to-r from-[#3F2B96] to-[#FFFFFF]  inline-block;
}


